* {
  font-family: 'Courier New', Courier, monospace;
}

html {
  font-size: 60.5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
@media (max-width: 600px) {
  html {
    flex-direction: column;
  }
}
.intro {
  font-size: 2rem;
  text-align: center;
  position: absolute;
  width: 70%;
  top: 32%;
  left: 50%;
  align-self: center;
  transform: translate(-50%, -50%);
  display: inherit;
}

.input-value {
  width: 30%;
  align-self: center;
}

.drop-down {
  font-size: 2rem;
  text-align: center;
  position: absolute;
  width: 30%;
  top: 52%;
  left: 50%;
  align-self: center;
  transform: translate(-50%, -50%);
}

.result {
  font-size: 3rem;
  align-self: center;
}

.output {
  font-size: 1rem;
  text-align: center;
  position: absolute;
  width: 30%;
  top: 72%;
  left: 50%;
  align-self: center;
  transform: translate(-50%, -50%);
}

.btn-convert {
  font-size: 2rem;
  align-self: center;
}
